In [2]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv("data.csv")
data

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [8]:
data.values

array([[  60. ,  110. ,  130. ,  409.1],
       [  60. ,  117. ,  145. ,  479. ],
       [  60. ,  103. ,  135. ,  340. ],
       [  45. ,  109. ,  175. ,  282.4],
       [  45. ,  117. ,  148. ,  406. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  110. ,  136. ,  374. ],
       [  45. ,  104. ,  134. ,  253.3],
       [  30. ,  109. ,  133. ,  195.1],
       [  60. ,   98. ,  124. ,  269. ],
       [  60. ,  103. ,  147. ,  329.3],
       [  60. ,  100. ,  120. ,  250.7],
       [  60. ,  106. ,  128. ,  345.3],
       [  60. ,  104. ,  132. ,  379.3],
       [  60. ,   98. ,  123. ,  275. ],
       [  60. ,   98. ,  120. ,  215.2],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,   90. ,  112. ,    nan],
       [  60. ,  103. ,  123. ,  323. ],
       [  45. ,   97. ,  125. ,  243. ],
       [  60. ,  108. ,  131. ,  364.2],
       [  45. ,  100. ,  119. ,  282. ],
       [  60. ,  130. ,  101. ,  300. ],
       [  45. ,  105. ,  132. ,  246. ],
       [  60. ,  102. ,  126. ,  334.5],
       [  60. ,  100. ,  120. ,  250. ],
       [  60. ,   92. ,  118. ,  241. ],
       [  60. ,  103. ,  132. ,    nan],
       [  60. ,  100. ,  132. ,  280. ],
       [  60. ,  102. ,  129. ,  380.3],
       [  60. ,   92. ,  115. ,  243. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,  101. ,  124. ,  299. ],
       [  60. ,   93. ,  113. ,  223. ],
       [  60. ,  107. ,  136. ,  361. ],
       [  60. ,  114. ,  140. ,  415. ],
       [  60. ,  102. ,  127. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  60. ,  100. ,  120. ,  300. ],
       [  45. ,  104. ,  129. ,  266. ],
       [  45. ,   90. ,  112. ,  180.1],
       [  60. ,   98. ,  126. ,  286. ],
       [  60. ,  100. ,  122. ,  329.4],
       [  60. ,  111. ,  138. ,  400. ],
       [  60. ,  111. ,  131. ,  397. ],
       [  60. ,   99. ,  119. ,  273. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  45. ,  111. ,  136. ,  300. ],
       [  45. ,  108. ,  129. ,  298. ],
       [  60. ,  111. ,  139. ,  397.6],
       [  60. ,  107. ,  136. ,  380.2],
       [  80. ,  123. ,  146. ,  643.1],
       [  60. ,  106. ,  130. ,  263. ],
       [  60. ,  118. ,  151. ,  486. ],
       [  30. ,  136. ,  175. ,  238. ],
       [  60. ,  121. ,  146. ,  450.7],
       [  60. ,  118. ,  121. ,  413. ],
       [  45. ,  115. ,  144. ,  305. ],
       [  20. ,  153. ,  172. ,  226.4],
       [  45. ,  123. ,  152. ,  321. ],
       [ 210. ,  108. ,  160. , 1376. ],
       [ 160. ,  110. ,  137. , 1034.4],
       [ 160. ,  109. ,  135. ,  853. ],
       [  45. ,  118. ,  141. ,  341. ],
       [  20. ,  110. ,  130. ,  131.4],
       [ 180. ,   90. ,  130. ,  800.4],
       [ 150. ,  105. ,  135. ,  873.4],
       [ 150. ,  107. ,  130. ,  816. ],
       [  20. ,  106. ,  136. ,  110.4],
       [ 300. ,  108. ,  143. , 1500.2],
       [ 150. ,   97. ,  129. , 1115. ],
       [  60. ,  109. ,  153. ,  387.6],
       [  90. ,  100. ,  127. ,  700. ],
       [ 150. ,   97. ,  127. ,  953.2],
       [  45. ,  114. ,  146. ,  304. ],
       [  90. ,   98. ,  125. ,  563.2],
       [  45. ,  105. ,  134. ,  251. ],
       [  45. ,  110. ,  141. ,  300. ],
       [ 120. ,  100. ,  130. ,  500.4],
       [ 270. ,  100. ,  131. , 1729. ],
       [  30. ,  159. ,  182. ,  319.2],
       [  45. ,  149. ,  169. ,  344. ],
       [  30. ,  103. ,  139. ,  151.1],
       [ 120. ,  100. ,  130. ,  500. ],
       [  45. ,  100. ,  120. ,  225.3],
       [  30. ,  151. ,  170. ,  300. ],
       [  45. ,  102. ,  136. ,  234. ],
       [ 120. ,  100. ,  157. , 1000.1],
       [  45. ,  129. ,  103. ,  242. ],
       [  20. ,   83. ,  107. ,   50.3],
       [ 180. ,  101. ,  127. ,  600.1],
       [  45. ,  107. ,  137. ,    nan],
       [  30. ,   90. ,  107. ,  105.3],
       [  15. ,   80. ,  100. ,   50.5],
       [  20. ,  150. ,  171. ,  127.4],
       [  20. ,  151. ,  168. ,  229.4],
       [  30. ,   95. ,  128. ,  128.2],
       [  25. ,  152. ,  168. ,  244.2],
       [  30. ,  109. ,  131. ,  188.2],
       [  90. ,   93. ,  124. ,  604.1],
       [  20. ,   95. ,  112. ,   77.7],
       [  90. ,   90. ,  110. ,  500. ],
       [  90. ,   90. ,  100. ,  500. ],
       [  90. ,   90. ,  100. ,  500.4],
       [  30. ,   92. ,  108. ,   92.7],
       [  30. ,   93. ,  128. ,  124. ],
       [ 180. ,   90. ,  120. ,  800.3],
       [  30. ,   90. ,  120. ,   86.2],
       [  90. ,   90. ,  120. ,  500.3],
       [ 210. ,  137. ,  184. , 1860.4],
       [  60. ,  102. ,  124. ,  325.2],
       [  45. ,  107. ,  124. ,  275. ],
       [  15. ,  124. ,  139. ,  124.2],
       [  45. ,  100. ,  120. ,  225.3],
       [  60. ,  108. ,  131. ,  367.6],
       [  60. ,  108. ,  151. ,  351.7],
       [  60. ,  116. ,  141. ,  443. ],
       [  60. ,   97. ,  122. ,  277.4],
       [  60. ,  105. ,  125. ,    nan],
       [  60. ,  103. ,  124. ,  332.7],
       [  30. ,  112. ,  137. ,  193.9],
       [  45. ,  100. ,  120. ,  100.7],
       [  60. ,  119. ,  169. ,  336.7],
       [  60. ,  107. ,  127. ,  344.9],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   98. ,  122. ,  271. ],
       [  60. ,   97. ,  124. ,  275.3],
       [  60. ,  109. ,  127. ,  382. ],
       [  90. ,   99. ,  125. ,  466.4],
       [  60. ,  114. ,  151. ,  384. ],
       [  60. ,  104. ,  134. ,  342.5],
       [  60. ,  107. ,  138. ,  357.5],
       [  60. ,  103. ,  133. ,  335. ],
       [  60. ,  106. ,  132. ,  327.5],
       [  60. ,  103. ,  136. ,  339. ],
       [  20. ,  136. ,  156. ,  189. ],
       [  45. ,  117. ,  143. ,  317.7],
       [  45. ,  115. ,  137. ,  318. ],
       [  45. ,  113. ,  138. ,  308. ],
       [  20. ,  141. ,  162. ,  222.4],
       [  60. ,  108. ,  135. ,  390. ],
       [  60. ,   97. ,  127. ,    nan],
       [  45. ,  100. ,  120. ,  250.4],
       [  45. ,  122. ,  149. ,  335.4],
       [  60. ,  136. ,  170. ,  470.2],
       [  45. ,  106. ,  126. ,  270.8],
       [  60. ,  107. ,  136. ,  400. ],
       [  60. ,  112. ,  146. ,  361.9],
       [  30. ,  103. ,  127. ,  185. ],
       [  60. ,  110. ,  150. ,  409.4],
       [  60. ,  106. ,  134. ,  343. ],
       [  60. ,  109. ,  129. ,  353.2],
       [  60. ,  109. ,  138. ,  374. ],
       [  30. ,  150. ,  167. ,  275.8],
       [  60. ,  105. ,  128. ,  328. ],
       [  60. ,  111. ,  151. ,  368.5],
       [  60. ,   97. ,  131. ,  270.4],
       [  60. ,  100. ,  120. ,  270.4],
       [  60. ,  114. ,  150. ,  382.8],
       [  30. ,   80. ,  120. ,  240.9],
       [  30. ,   85. ,  120. ,  250.4],
       [  45. ,   90. ,  130. ,  260.4],
       [  45. ,   95. ,  130. ,  270. ],
       [  45. ,  100. ,  140. ,  280.9],
       [  60. ,  105. ,  140. ,  290.8],
       [  60. ,  110. ,  145. ,  300. ],
       [  60. ,  115. ,  145. ,  310.2],
       [  75. ,  120. ,  150. ,  320.4],
       [  75. ,  125. ,  150. ,  330.4]])

In [9]:
data.columns

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [10]:
data.info

<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [11]:
data.head(10)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0
7        45    104       134     253.3
8        30    109       133     195.1
9        60     98       124     269.0

In [12]:
data.loc[110:160]

     Duration  Pulse  Maxpulse  Calories
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4

In [18]:
calo = data['Calories'].loc[118]
calo

nan

In [20]:
data['Calories'].dropna(inplace=True)
data.loc[110:118]

     Duration  Pulse  Maxpulse  Calories
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN

In [21]:
data.loc[118]

Duration     60.0
Pulse       105.0
Maxpulse    125.0
Calories      NaN
Name: 118, dtype: float64

In [28]:
data.dropna()

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[164 rows x 4 columns]

In [34]:
data["Calories"].fillna(130, inplace = True)
data.loc[118]

Duration     60.0
Pulse       105.0
Maxpulse    125.0
Calories    130.0
Name: 118, dtype: float64

In [35]:
data.loc[141]

Duration     60.0
Pulse        97.0
Maxpulse    127.0
Calories    130.0
Name: 141, dtype: float64

In [38]:
x = data["Calories"].mean()
x

368.51834319526637

In [40]:
mymean = round(x)
mymean

369

In [13]:
data.info

<bound method DataFrame.info of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [14]:
data.describe

<bound method NDFrame.describe of      Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]>

In [15]:
calo = data["Calories"]
calo

0      409.1
1      479.0
2      340.0
3      282.4
4      406.0
       ...
164    290.8
165    300.0
166    310.2
167    320.4
168    330.4
Name: Calories, Length: 169, dtype: float64