In [2]:
import pandas as pd
import numpy as np

In [5]:
fdp=pd.read_csv("foodprices.csv")
print(fdp)

             date      admin1      admin2            market  \
0           #date  #adm1+name  #adm2+name  #loc+market+name
1      2002-01-15     Katsina       Jibia       Jibia (CBM)
2      2002-01-15     Katsina       Jibia       Jibia (CBM)
3      2002-01-15     Katsina       Jibia       Jibia (CBM)
4      2002-01-15     Katsina       Jibia       Jibia (CBM)
...           ...         ...         ...               ...
53906  2021-09-15        Yobe    Yusufari          Yusufari
53907  2021-09-15        Yobe    Yusufari          Yusufari
53908  2021-09-15        Yobe    Yusufari          Yusufari
53909  2021-09-15        Yobe    Yusufari          Yusufari
53910  2021-09-15        Yobe    Yusufari          Yusufari

                 latitude           longitude               category  \
0                #geo+lat            #geo+lon             #item+type
1                   13.08                7.24     cereals and tubers
2                   13.08                7.24     cereals and tubers
3                   13.08                7.24     cereals and tubers
4                   13.08                7.24     cereals and tubers
...                   ...                 ...                    ...
53906  13.062664985656738  11.171370506286621  vegetables and fruits
53907  13.062664985656738  11.171370506286621  vegetables and fruits
53908  13.062664985656738  11.171370506286621  vegetables and fruits
53909  13.062664985656738  11.171370506286621  vegetables and fruits
53910  13.062664985656738  11.171370506286621  vegetables and fruits

             commodity        unit         pricetype   currency   price  \
0           #item+name  #item+unit  #item+price+type  #currency  #value
1                Maize          KG            actual        NGN  175.92
2               Millet          KG            actual        NGN  150.18
3      Rice (imported)          KG            actual        NGN   358.7
4              Sorghum          KG            actual        NGN  155.61
...                ...         ...               ...        ...     ...
53906           Onions       400 G            actual        NGN   144.0
53907          Oranges       400 G            actual        NGN   110.0
53908          Spinach       300 G            actual        NGN    82.5
53909         Tomatoes      0.5 KG            actual        NGN    80.0
53910      Watermelons      2.1 KG            actual        NGN   275.0

         usdprice
0      #value+usd
1            0.43
2            0.37
3            0.87
4            0.38
...           ...
53906        0.35
53907        0.27
53908         0.2
53909         0.2
53910        0.67

[53911 rows x 13 columns]

In [7]:
fdp.isnull()

,date,admin1,admin2,market,latitude,longitude,category,commodity,unit,pricetype,currency,price,usdprice
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53906,False,False,False,False,False,False,False,False,False,False,False,False,False
53907,False,False,False,False,False,False,False,False,False,False,False,False,False
53908,False,False,False,False,False,False,False,False,False,False,False,False,False
53909,False,False,False,False,False,False,False,False,False,False,False,False,False
53910,False,False,False,False,False,False,False,False,False,False,False,False,False