In [3]:
import pandas as pd
import numpy as np

boston= pd.read_csv("C:/Users/HP/Desktop/Boston.csv")
print(boston)

     Unnamed: 0     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0             1  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1
1             2  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2
2             3  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2
3             4  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3
4             5  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         502  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         503  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         504  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         505  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         506  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1

     tax  ptratio   black  lstat  medv
0    296     15.3  396.90   4.98  24.0
1    242     17.8  396.90   9.14  21.6
2    242     17.8  392.83   4.03  34.7
3    222     18.7  394.63   2.94  33.4
4    222     18.7  396.90   5.33  36.2
..   ...      ...     ...    ...   ...
501  273     21.0  391.99   9.67  22.4
502  273     21.0  396.90   9.08  20.6
503  273     21.0  396.90   5.64  23.9
504  273     21.0  393.45   6.48  22.0
505  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]

In [8]:
boston.loc[boston["age"]>50,"tax"]

0      296
1      242
2      242
4      222
5      222
      ...
501    273
502    273
503    273
504    273
505    273
Name: tax, Length: 359, dtype: int64

In [10]:
boston.iloc[0:5] #slicing rows

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [13]:
boston.iloc[0:5,10:20]  #slicing rows and column

   tax  ptratio   black  lstat  medv
0  296     15.3  396.90   4.98  24.0
1  242     17.8  396.90   9.14  21.6
2  242     17.8  392.83   4.03  34.7
3  222     18.7  394.63   2.94  33.4
4  222     18.7  396.90   5.33  36.2

In [15]:
boston.iloc[1:3, ]

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [17]:
boston.iloc[ : ,0:5]

     Unnamed: 0     crim    zn  indus  chas
0             1  0.00632  18.0   2.31     0
1             2  0.02731   0.0   7.07     0
2             3  0.02729   0.0   7.07     0
3             4  0.03237   0.0   2.18     0
4             5  0.06905   0.0   2.18     0
..          ...      ...   ...    ...   ...
501         502  0.06263   0.0  11.93     0
502         503  0.04527   0.0  11.93     0
503         504  0.06076   0.0  11.93     0
504         505  0.10959   0.0  11.93     0
505         506  0.04741   0.0  11.93     0

[506 rows x 5 columns]

In [21]:
boston.iloc[5,5] #for missing value #data cleaning

0.458

In [24]:
boston["tax"].sum()

206568

In [25]:
boston.sum()

Unnamed: 0    128271.00000
crim            1828.44292
zn              5750.00000
indus           5635.21000
chas              35.00000
nox              280.67570
rm              3180.02500
age            34698.90000
dis             1920.29160
rad             4832.00000
tax           206568.00000
ptratio         9338.50000
black         180477.06000
lstat           6402.45000
medv           11401.60000
dtype: float64

In [27]:
boston.mean(axis=1)

0      55.726621
1      52.619627
2      51.811893
3      49.346705
4      50.483083
         ...
501    87.453149
502    88.149051
503    89.209817
504    88.868366
505    87.971027
Length: 506, dtype: float64

In [28]:
boston.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of      Unnamed: 0     crim    zn  indus  chas    nox     rm   age     dis  rad  \
0             1  0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1
1             2  0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2
2             3  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2
3             4  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3
4             5  0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3
..          ...      ...   ...    ...   ...    ...    ...   ...     ...  ...
501         502  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1
502         503  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1
503         504  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1
504         505  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1
505         506  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1

     tax  ptratio   black  lstat  medv
0    296     15.3  396.90   4.98  24.0
1    242     17.8  396.90   9.14  21.6
2    242     17.8  392.83   4.03  34.7
3    222     18.7  394.63   2.94  33.4
4    222     18.7  396.90   5.33  36.2
..   ...      ...     ...    ...   ...
501  273     21.0  391.99   9.67  22.4
502  273     21.0  396.90   9.08  20.6
503  273     21.0  396.90   5.64  23.9
504  273     21.0  393.45   6.48  22.0
505  273     21.0  396.90   7.88  11.9

[506 rows x 15 columns]>

In [31]:
boston.mean(axis=1,skipna=False)

0      55.726621
1      52.619627
2      51.811893
3      49.346705
4      50.483083
         ...
501    87.453149
502    88.149051
503    89.209817
504    88.868366
505    87.971027
Length: 506, dtype: float64

In [33]:
boston.idxmax()

Unnamed: 0    505
crim          380
zn             57
indus         488
chas          142
nox           142
rm            364
age             8
dis           353
rad           356
tax           488
ptratio       354
black           0
lstat         374
medv          161
dtype: int64

In [34]:
boston["tax"].mean()

408.2371541501976

In [36]:
boston.idxmin()

Unnamed: 0      0
crim            0
zn              1
indus         195
chas            0
nox           286
rm            365
age            41
dis           372
rad             0
tax           353
ptratio       196
black         450
lstat         161
medv          398
dtype: int64

In [39]:
boston.cumsum()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.5380,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,3,0.03363,18.0,9.38,0,1.0070,12.996,144.1,9.0571,3,538,33.1,793.80,14.12,45.6
2,6,0.06092,18.0,16.45,0,1.4760,20.181,205.2,14.0242,5,780,50.9,1186.63,18.15,80.3
3,10,0.09329,18.0,18.63,0,1.9340,27.179,251.0,20.0864,8,1002,69.6,1581.26,21.09,113.7
4,15,0.16234,18.0,20.81,0,2.3920,34.326,305.2,26.1486,11,1224,88.3,1978.16,26.42,149.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,126253,1828.17989,5750.0,5587.49,35,278.3837,3154.105,34361.1,1910.9427,4828,205476,9254.5,178892.91,6373.37,11323.2
502,126756,1828.22516,5750.0,5599.42,35,278.9567,3160.225,34437.8,1913.2302,4829,205749,9275.5,179289.81,6382.45,11343.8
503,127260,1828.28592,5750.0,5611.35,35,279.5297,3167.201,34528.8,1915.3977,4830,206022,9296.5,179686.71,6388.09,11367.7
504,127765,1828.39551,5750.0,5623.28,35,280.1027,3173.995,34618.1,1917.7866,4831,206295,9317.5,180080.16,6394.57,11389.7
505,128271,1828.44292,5750.0,5635.21,35,280.6757,3180.025,34698.9,1920.2916,4832,206568,9338.5,180477.06,6402.45,11401.6

In [40]:
boston.describe()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,253.500000,3.613524,11.363636,11.136779,0.069170,0.554695,6.284634,68.574901,3.795043,9.549407,408.237154,18.455534,356.674032,12.653063,22.532806
std,146.213884,8.601545,23.322453,6.860353,0.253994,0.115878,0.702617,28.148861,2.105710,8.707259,168.537116,2.164946,91.294864,7.141062,9.197104
min,1.000000,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,127.250000,0.082045,0.000000,5.190000,0.000000,0.449000,5.885500,45.025000,2.100175,4.000000,279.000000,17.400000,375.377500,6.950000,17.025000
50%,253.500000,0.256510,0.000000,9.690000,0.000000,0.538000,6.208500,77.500000,3.207450,5.000000,330.000000,19.050000,391.440000,11.360000,21.200000
75%,379.750000,3.677083,12.500000,18.100000,0.000000,0.624000,6.623500,94.075000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,506.000000,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [9]:
boston.reindex(index=[0,2,4,5],columns=["chas","age","dis","rad"])

   chas   age     dis  rad
0     0  65.2  4.0900    1
2     0  61.1  4.9671    2
4     0  54.2  6.0622    3
5     0  58.7  6.0622    3

In [12]:
boston.iloc[:3,0]

0    1
1    2
2    3
Name: Unnamed: 0, dtype: int64

In [13]:
#conditional selection
boston.age==50

0      False
1      False
2      False
3      False
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: age, Length: 506, dtype: bool

In [17]:
boston.age>50

0       True
1       True
2       True
3      False
4       True
       ...
501     True
502     True
503     True
504     True
505     True
Name: age, Length: 506, dtype: bool

In [15]:
boston.age<50

0      False
1      False
2      False
3       True
4      False
       ...
501    False
502    False
503    False
504    False
505    False
Name: age, Length: 506, dtype: bool

In [23]:
#sorting data #sort by label or actualvalue#
boston.sort_index()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9

In [31]:
boston.sort_index(ascending = False)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
505,506,0.04741,0.0,11.93,0,0.573,6.030,80.8,2.5050,1,273,21.0,396.90,7.88,11.9
504,505,0.10959,0.0,11.93,0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
503,504,0.06076,0.0,11.93,0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
502,503,0.04527,0.0,11.93,0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
501,502,0.06263,0.0,11.93,0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,9.67,22.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0

In [36]:
boston.sort_index(axis = 1)

,Unnamed: 0,age,black,chas,crim,dis,indus,lstat,medv,nox,ptratio,rad,rm,tax,zn
0,1,65.2,396.90,0,0.00632,4.0900,2.31,4.98,24.0,0.538,15.3,1,6.575,296,18.0
1,2,78.9,396.90,0,0.02731,4.9671,7.07,9.14,21.6,0.469,17.8,2,6.421,242,0.0
2,3,61.1,392.83,0,0.02729,4.9671,7.07,4.03,34.7,0.469,17.8,2,7.185,242,0.0
3,4,45.8,394.63,0,0.03237,6.0622,2.18,2.94,33.4,0.458,18.7,3,6.998,222,0.0
4,5,54.2,396.90,0,0.06905,6.0622,2.18,5.33,36.2,0.458,18.7,3,7.147,222,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,502,69.1,391.99,0,0.06263,2.4786,11.93,9.67,22.4,0.573,21.0,1,6.593,273,0.0
502,503,76.7,396.90,0,0.04527,2.2875,11.93,9.08,20.6,0.573,21.0,1,6.120,273,0.0
503,504,91.0,396.90,0,0.06076,2.1675,11.93,5.64,23.9,0.573,21.0,1,6.976,273,0.0
504,505,89.3,393.45,0,0.10959,2.3889,11.93,6.48,22.0,0.573,21.0,1,6.794,273,0.0
505,506,80.8,396.90,0,0.04741,2.5050,11.93,7.88,11.9,0.573,21.0,1,6.030,273,0.0

In [46]:
boston.sort_values(by=["age"])

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
41,42,0.12744,0.0,6.91,0,0.448,6.770,2.9,5.7209,3,233,17.9,385.41,4.84,26.6
74,75,0.07896,0.0,12.83,0,0.437,6.273,6.0,4.2515,5,398,18.7,394.92,6.78,24.1
73,74,0.19539,0.0,10.81,0,0.413,6.245,6.2,5.2873,4,305,19.2,377.17,7.54,23.4
43,44,0.15936,0.0,6.91,0,0.448,6.211,6.5,5.7209,3,233,17.9,394.46,7.44,24.7
70,71,0.08826,0.0,10.81,0,0.413,6.417,6.6,5.2873,4,305,19.2,383.73,6.72,24.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
386,387,24.39380,0.0,18.10,0,0.700,4.652,100.0,1.4672,24,666,20.2,396.90,28.28,10.5
158,159,1.34284,0.0,19.58,0,0.605,6.066,100.0,1.7573,5,403,14.7,353.89,6.43,24.3
383,384,7.99248,0.0,18.10,0,0.700,5.520,100.0,1.5331,24,666,20.2,396.90,24.56,12.3
406,407,20.71620,0.0,18.10,0,0.659,4.138,100.0,1.1781,24,666,20.2,370.22,23.34,11.9
420,421,11.08740,0.0,18.10,0,0.718,6.411,100.0,1.8589,24,666,20.2,318.75,15.02,16.7

In [47]:
boston.sort_values(by=["age","tax"])

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
41,42,0.12744,0.0,6.91,0,0.448,6.770,2.9,5.7209,3,233,17.9,385.41,4.84,26.6
74,75,0.07896,0.0,12.83,0,0.437,6.273,6.0,4.2515,5,398,18.7,394.92,6.78,24.1
73,74,0.19539,0.0,10.81,0,0.413,6.245,6.2,5.2873,4,305,19.2,377.17,7.54,23.4
43,44,0.15936,0.0,6.91,0,0.448,6.211,6.5,5.7209,3,233,17.9,394.46,7.44,24.7
42,43,0.14150,0.0,6.91,0,0.448,6.169,6.6,5.7209,3,233,17.9,383.37,5.81,25.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
418,419,73.53410,0.0,18.10,0,0.679,5.957,100.0,1.8026,24,666,20.2,16.45,20.62,8.8
420,421,11.08740,0.0,18.10,0,0.718,6.411,100.0,1.8589,24,666,20.2,318.75,15.02,16.7
437,438,15.17720,0.0,18.10,0,0.740,6.152,100.0,1.9142,24,666,20.2,9.32,26.45,8.7
442,443,5.66637,0.0,18.10,0,0.740,6.219,100.0,2.0048,24,666,20.2,395.69,16.59,18.4
443,444,9.96654,0.0,18.10,0,0.740,6.485,100.0,1.9784,24,666,20.2,386.73,18.85,15.4

In [66]:
boston.product()

Unnamed: 0     0.000000e+00
crim          3.138946e-172
zn             0.000000e+00
indus                   inf
chas           0.000000e+00
nox           8.810725e-135
rm                      inf
age                     inf
dis           1.184930e+261
rad            0.000000e+00
tax            0.000000e+00
ptratio                 inf
black                   inf
lstat                   inf
medv                    inf
dtype: float64

In [69]:
boston.cumprod()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,6.320000e-03,18.0,2.310000,0,5.380000e-01,6.575000e+00,6.520000e+01,4.090000e+00,1,296,1.530000e+01,3.969000e+02,4.980000,2.400000e+01
1,2,1.725992e-04,0.0,16.331700,0,2.523220e-01,4.221808e+01,5.144280e+03,2.031544e+01,2,71632,2.723400e+02,1.575296e+05,45.517200,5.184000e+02
2,6,4.710232e-06,0.0,115.465119,0,1.183390e-01,3.033369e+02,3.143155e+05,1.009088e+02,4,17334944,4.847652e+03,6.188236e+07,183.434316,1.798848e+04
3,24,1.524702e-07,0.0,251.713959,0,5.419927e-02,2.122751e+03,1.439565e+07,6.117294e+02,12,3848357568,9.065109e+04,2.442063e+10,539.296889,6.008152e+05
4,120,1.052807e-08,0.0,548.736432,0,2.482327e-02,1.517130e+04,7.802442e+08,3.708426e+03,36,854335380096,1.695175e+06,9.692550e+12,2874.452419,2.174951e+07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0,2.196417e-167,0.0,inf,0,8.173220e-134,inf,inf,3.993620e+259,0,0,inf,inf,inf,inf
502,0,9.943179e-169,0.0,inf,0,4.683255e-134,inf,inf,9.135405e+259,0,0,inf,inf,inf,inf
503,0,6.041476e-170,0.0,inf,0,2.683505e-134,inf,inf,1.980099e+260,0,0,inf,inf,inf,inf
504,0,6.620853e-171,0.0,inf,0,1.537648e-134,inf,inf,4.730258e+260,0,0,inf,inf,inf,inf
505,0,3.138946e-172,0.0,inf,0,8.810725e-135,inf,inf,1.184930e+261,0,0,inf,inf,inf,inf

In [70]:
Ds= boston.age
print(Ds)

0      65.2
1      78.9
2      61.1
3      45.8
4      54.2
       ...
501    69.1
502    76.7
503    91.0
504    89.3
505    80.8
Name: age, Length: 506, dtype: float64

In [71]:
np.ceil(Ds)

0      66.0
1      79.0
2      62.0
3      46.0
4      55.0
       ...
501    70.0
502    77.0
503    91.0
504    90.0
505    81.0
Name: age, Length: 506, dtype: float64

In [72]:
np.floor(Ds)

0      65.0
1      78.0
2      61.0
3      45.0
4      54.0
       ...
501    69.0
502    76.0
503    91.0
504    89.0
505    80.0
Name: age, Length: 506, dtype: float64

In [82]:
np.sort(Ds)

array([  2.9,   6. ,   6.2,   6.5,   6.6,   6.6,   6.8,   7.8,   7.8,
         8.4,   8.9,   9.8,   9.9,  10. ,  13. ,  13.9,  14.7,  15.3,
        15.7,  15.8,  16.3,  17. ,  17.2,  17.5,  17.5,  17.7,  17.8,
        18.4,  18.4,  18.5,  18.5,  18.8,  19.1,  19.5,  20.1,  20.8,
        21.1,  21.4,  21.4,  21.4,  21.5,  21.8,  21.9,  21.9,  22.3,
        22.9,  23.3,  23.4,  24.8,  25.8,  26.3,  27.6,  27.7,  27.7,
        27.9,  28.1,  28.4,  28.8,  28.9,  28.9,  29.1,  29.2,  29.3,
        29.7,  30.2,  30.8,  31.1,  31.1,  31.3,  31.5,  31.9,  31.9,
        32. ,  32. ,  32.1,  32.2,  32.2,  32.2,  32.3,  32.9,  33. ,
        33.1,  33.2,  33.3,  33.5,  33.8,  34.1,  34.2,  34.5,  34.5,
        34.9,  35.7,  35.9,  36.1,  36.6,  36.6,  36.6,  36.8,  36.9,
        37.2,  37.3,  37.8,  38.1,  38.3,  38.4,  38.5,  38.9,  39. ,
        40. ,  40.1,  40.3,  40.4,  40.5,  41.1,  41.1,  41.5,  41.9,
        42.1,  42.2,  42.3,  42.4,  42.6,  42.8,  43.4,  43.7,  44.4,
        45. ,  45.1,  45.4,  45.6,  45.7,  45.8,  45.8,  46.3,  46.7,
        47.2,  47.2,  47.4,  47.6,  48. ,  48.2,  48.5,  49. ,  49.1,
        49.3,  49.7,  49.9,  51. ,  51.8,  51.9,  52.3,  52.3,  52.5,
        52.6,  52.8,  52.9,  53.2,  53.6,  53.6,  53.7,  53.8,  54. ,
        54.2,  54.3,  54.3,  54.4,  56. ,  56.1,  56.4,  56.5,  56.7,
        56.8,  57.8,  58. ,  58.1,  58.4,  58.5,  58.7,  58.7,  58.8,
        59.1,  59.5,  59.6,  59.7,  59.7,  61.1,  61.4,  61.5,  61.5,
        61.8,  62. ,  62.2,  62.5,  62.8,  63. ,  63.1,  64.5,  64.7,
        65.1,  65.2,  65.2,  65.3,  65.4,  66.1,  66.2,  66.5,  66.6,
        67. ,  67.2,  67.6,  67.8,  68.1,  68.2,  68.7,  68.8,  69.1,
        69.5,  69.6,  69.7,  70.2,  70.3,  70.4,  70.4,  70.6,  70.6,
        71. ,  71.3,  71.6,  71.7,  71.9,  72.5,  72.7,  72.9,  73.1,
        73.3,  73.4,  73.5,  73.9,  74.3,  74.4,  74.5,  74.8,  74.9,
        75. ,  76. ,  76.5,  76.5,  76.5,  76.7,  76.7,  76.9,  77. ,
        77.3,  77.7,  77.7,  77.8,  78.1,  78.3,  78.7,  78.9,  79.2,
        79.2,  79.7,  79.8,  79.9,  79.9,  80.3,  80.8,  80.8,  81.3,
        81.6,  81.7,  81.8,  82. ,  82.5,  82.5,  82.6,  82.6,  82.8,
        82.9,  82.9,  83. ,  83. ,  83.2,  83.3,  83.4,  83.5,  83.7,
        84. ,  84.1,  84.1,  84.2,  84.4,  84.5,  84.6,  84.7,  85.1,
        85.1,  85.2,  85.4,  85.4,  85.5,  85.7,  85.9,  86.1,  86.3,
        86.5,  86.5,  86.9,  87.3,  87.3,  87.4,  87.6,  87.9,  87.9,
        87.9,  87.9,  88. ,  88. ,  88. ,  88.2,  88.4,  88.4,  88.5,
        88.5,  88.6,  88.8,  89. ,  89.1,  89.2,  89.3,  89.4,  89.5,
        89.6,  89.8,  89.9,  90. ,  90. ,  90.3,  90.4,  90.7,  90.8,
        90.8,  91. ,  91. ,  91.1,  91.2,  91.2,  91.3,  91.4,  91.5,
        91.6,  91.7,  91.8,  91.8,  91.9,  91.9,  92.1,  92.2,  92.4,
        92.4,  92.6,  92.6,  92.6,  92.7,  92.9,  92.9,  93. ,  93.3,
        93.3,  93.4,  93.5,  93.6,  93.6,  93.8,  93.8,  93.9,  93.9,
        94. ,  94.1,  94.1,  94.1,  94.3,  94.3,  94.4,  94.5,  94.5,
        94.6,  94.6,  94.7,  94.7,  94.8,  94.9,  95. ,  95. ,  95.2,
        95.3,  95.3,  95.4,  95.4,  95.4,  95.4,  95.6,  95.6,  95.6,
        95.7,  95.8,  96. ,  96. ,  96. ,  96. ,  96.1,  96.1,  96.2,
        96.2,  96.2,  96.4,  96.6,  96.6,  96.7,  96.7,  96.8,  96.9,
        97. ,  97. ,  97. ,  97.1,  97.2,  97.3,  97.3,  97.3,  97.4,
        97.4,  97.4,  97.5,  97.7,  97.8,  97.9,  97.9,  97.9,  97.9,
        98. ,  98.1,  98.1,  98.2,  98.2,  98.2,  98.2,  98.3,  98.3,
        98.4,  98.4,  98.5,  98.7,  98.8,  98.8,  98.8,  98.8,  98.9,
        98.9,  98.9,  99.1,  99.3, 100. , 100. , 100. , 100. , 100. ,
       100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. ,
       100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. ,
       100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. ,
       100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. , 100. ,
       100. , 100. ])

In [84]:
Ds.mean()

68.57490118577078

In [86]:
np.mean(Ds)

68.57490118577078

In [87]:
Ds.median()

77.5

In [88]:
Ds.mode()

0    100.0
dtype: float64

In [89]:
Ds.describe()

count    506.000000
mean      68.574901
std       28.148861
min        2.900000
25%       45.025000
50%       77.500000
75%       94.075000
max      100.000000
Name: age, dtype: float64